{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% include "includes/head.html" %}
  {% block extrastyle %}{% endblock extrastyle %}
  <link rel="icon" href="{% static 'dist/img/MY-DOCTOR-fav.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'assets/style.css' %}">
</head>

<body class="bg-gray-50 dark:bg-gray-800">


  {% if messages %}
  <div id="alert-container" class=" m-2">
    {% for message in messages %}
      <div class="p-4 mb-4 text-sm rounded-lg dark:bg-gray-800 dark:text-red-400 alert alert-{{ message.tags }} rounded flex justify-between items-center m-2">
        <span>{{ message }}</span>
        <button type="button" aria-label="Close" class="ml-2" onclick="this.parentElement.remove()">
          &times;
        </button>
      </div>
    {% endfor %}
  </div>
  <script>
    setTimeout(function() {
      var container = document.getElementById('alert-container');
      if (container) container.remove();
    }, 7000);
  </script>
{% endif %}



  {% block navigation %}
    {% include "includes/navigation.html" %}
  {% endblock navigation %}

  <div class="flex min-h-screen pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

    {% block sidebar %}
      {% include "includes/sidebar.html" %}
    {% endblock sidebar %}

    <div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>

    <div id="main-content" class="relative w-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
      {% block content %}{% endblock content %}
      {% block footer %}
        {% include "includes/footer.html" %}
      {% endblock footer %}

    </div>
  </div>


  {% include "includes/scripts.html" %}
  {% block extra_js %}{% endblock extra_js %}

</body>

</html>