{% extends "layouts/base.html" %}

{% block content %}
<main>
  <div class="px-4 pt-6">
    <h2 class="text-2xl font-semibold">Add Appointment Slot</h2>
    <form method="post">
      {% csrf_token %}
      <div class="mt-4">
        <label for="start_time">Start Time:</label>
        <input type="datetime-local" name="start_time" required>
      </div>
      <div class="mt-4">
        <label for="end_time">End Time:</label>
        <input type="datetime-local" name="end_time" required>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Add Slot</button>
    </form>
  </div>
</main>
{% endblock content %}
