{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="px-4 pt-6">
    <h1 class="text-2xl font-bold mb-4">Appointment Calendar</h1>
    <div id='calendar'></div>
  </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: '/appointments/api/get_appointments/', // URL to fetch events
    });

    calendar.render();
  });
</script>
{% endblock %}
