<!-- templates/dashboard/chatbot.html -->
{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="px-4 pt-6">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <script src="//widget.simplybook.me/v2/widget/widget.js" type="text/javascript"></script>
        <script type="text/javascript">
            var widget = new SimplybookWidget({"widget_type":"iframe","url":"https:\/\/mydoctorem.simplybook.me","theme":"default","theme_settings":{"timeline_hide_unavailable":"1","hide_past_days":"0","timeline_show_end_time":"0","timeline_modern_display":"as_slots","sb_base_color":"#087484","display_item_mode":"block","booking_nav_bg_color":"#087484","body_bg_color":"#f2f2f2","sb_review_image":"2","sb_review_image_preview":"\/uploads\/mydoctorem\/image_files\/preview\/73347fd9377a89c860aa567719788a70.jpg","dark_font_color":"#311919","light_font_color":"#f5fcff","btn_color_1":"#ff9414","sb_company_label_color":"#ffffff","hide_img_mode":"1","show_sidebar":"1","sb_busy":"#ff9414","sb_available":"#e2eaec"},"timeline":"modern","datepicker":"top_calendar","is_rtl":false,"app_config":{"clear_session":0,"allow_switch_to_ada":0,"predefined":[]}});
        </script>
    </div>
  </div>
</main>
{% endblock content %}
