
{% extends "layouts/base.html" %}
{% block content %}
<main>
  <div class="px-4 pt-6">
    <h2 class="text-2xl font-semibold">Inbox</h2>
    {% if inbox_none %}
      <p class="mt-4 text-gray-600 dark:text-gray-400">No new items.</p>
    {% else %}
    <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
      <thead class="bg-gray-100 dark:bg-gray-700 text-start">
        <tr>
          <th scope="col" class="text-start p-4">User Name</th>
          <th scope="col" class="text-start p-4">Date  </th>
          {% comment %} <th scope="col" class="p-4"></th> {% endcomment %}
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
        {% for appt in inbox_appointments %}
        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="w-4 p-4">
            <div class="flex items-center">
              {% if is_doctor %}
                {{ appt.patient.get_full_name|default:appt.patient.username }}
              {% else %}
                {{ appt.doctor.get_full_name|default:appt.doctor.username }}
              {% endif %}
            </div>
          </td>
          <td class="w-4 p-4">
            <div class="flex items-center">
              Upcoming Appointment  on {{ appt.date|date:"Y-m-d H:i" }}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

      {% if is_doctor and today_app_count > 0 %}
        <p class="mt-2 text-red-600 dark:text-red-400">You have {{ today_app_count }} same-day appointment(s).</p>
      {% endif %}
    {% endif %}
  </div>
</main>
{% endblock %}